@{
	ViewData["Title"] = "صفحه اصلی";
	Layout = "/views/shared/_Layout.cshtml";
}

<h1 class="text-center my-4" style="font-size:30px; font-weight:600;">نظر سنجی و ارزیابی سوالات  تخصصی کامپیوتر و برنامه نویسی</h1>
<hr>
<div class="row">
	<div class="col-12 text-center">
		<a href="/start-survey" class="btn btn-info">شروع نظر سنجی</a> 
		<a href="/index-question" class="btn btn-primary">فهرست سوالات</a>
	</div>
</div>




